[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
marshmallow = "*"
requests = "*"
pytest = "*"
allure-pytest = "*"
gevent = "*"


[dev-packages]